**/.vscode
**/A1
**/add_byes_to_Fixture
**/bye_reorder
**/fixtures_1
**/fixtures_even
**/fixtures_even_balanced
**/fixtures_last
**/fixtures_odd
**/fixtures_odd_balanced
**/home_away
**/remove_bye_letter
**/used python rr codes
**/z_others